<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Check cards</title>
        <link rel="stylesheet" href="/css/check_cards.css">
        <link href='https://fonts.googleapis.com/css?family=DotGothic16'
            rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=VT323'
            rel='stylesheet'>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body id="check_cards_body">
        <div id="cards_wrapper"></div>
        <script src="/scripts/cards.js"></script>
    </body>
    <button class="logout" onclick="window.location.assign('/')"><?xml
        version="1.0" encoding="UTF-8"?><?xml version="1.0" encoding="UTF-8"?><svg
            xmlns="http://www.w3.org/2000/svg" width="64px" height="64px"
            fill="none" stroke-width="2" viewBox="0 0 24 24" color="#5f79ab"><path
                stroke="#DFEAFF" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" d="M21 12H3m0 0 8.5-8.5M3 12l8.5 8.5"></path></svg></button>
</html>