<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Check cards</title>
        <link rel="stylesheet" href="/css/check_cards.css">
        <link href='https://fonts.googleapis.com/css?family=DotGothic16'
            rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=VT323'
            rel='stylesheet'>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body id="check_cards_body">
        <div id="cards_wrapper"></div>
        <script src="/scripts/cards.js"></script>
    </body>
</html>