<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Game</title>
        <link href='https://fonts.googleapis.com/css?family=DotGothic16'
            rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=VT323'
            rel='stylesheet'>
        <link rel="stylesheet" href="/field.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    </head>

    <body id="field_body">

        <div id="second-player">
            
            <img  alt="pfp" class="avatar" id="second_avatar">
            
        </div>

        <div class="field">
            <div class="player-area" id="player2-area">
               
            </div>
            <div class="line"></div>
            <div class="player-area" id="player1-area">
                
            </div>
        </div>
        <div id="first-player">
            <img  alt="pfp" class="avatar" id="first_avatar">
        </div>


        <div class="card" id="btn-div">
            
            <div class="mana_cost">8</div>
            <p class="cardname">Robo Spider</p>
            <img src="/images/Robo spider.png" class="card_img" alt="wfe"></img>
            <div class="attack">8</div>
            <div class="hp">8</div>
            
        </div>

        <script type="module" src="/scripts/drag.js"></script>
        
        <script src="/socket.io/socket.io.js"></script>
        <script src="/scripts/field.js"></script>
    </body>

</html>