<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link href='https://fonts.googleapis.com/css?family=DotGothic16'
            rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=VT323'
            rel='stylesheet'>
        <link rel="stylesheet" href="/login.css">
    </head>

    <body id="login_body">
        <div class="message_error">
            Error
        </div>

        <div class="container">

            <div class="wrapper">

                <p class="banner">Hello again!</p>
                <p class="desc">Welcome back you`ve been missed!</p>

                <form action="/login" method="post" id="loginForm">

                    <label for="username">username: </label>
                    <input type="text" name="username" id="username"
                        placeholder="Please enter username" required>

                    <label for="password">password: </label>
                    <input type="password" name="password" id="password"
                        placeholder="Please enter password" required
                        minlength="4">

                    <button type="submit" id="log_in_btn">Log in</button>
                    <button type="button" id="sign_up_btn"
                        onclick="window.location.assign('/signup')">
                        Sign up</button>
                </form>
            </div>
        </div>

        <script src="/scripts/login.js"></script>
    </body>

</html>