<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menu</title>
        <link href='https://fonts.googleapis.com/css?family=DotGothic16'
            rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=VT323'
            rel='stylesheet'>
        <link rel="stylesheet" href="/css/menu.css">
    </head>

    <body id="menu_body">

        <div class="container">

            <button id="check_cards" onclick="window.location.assign('/cards')">Check cards</button>

            <div class="wrapper">
                <p class="wins">Wins:</p>
                <form action="/upload" id="uploadForm" method="POST" enctype="multipart/form-data" >
                    <input type="file" name="photo" id="fileInput" style="display: none;">
                    <label for="fileInput">
                        <button type="button" class="button_for_avatar">
                            <svg class="image" class="icon"
                                 xmlns="http://www.w3.org/2000/svg"
                                 width="125px" height="125px" fill="none"
                                 stroke-width="1.5"
                                 viewBox="0 0 24 24" color="#DFEAFF">
                                <path stroke="#DFEAFF" stroke-width="1.5"
                                      stroke-linecap="round" stroke-linejoin="round"
                                      d="M6 3H3v3M18 3h3v3M6 21H3v-3M7 18v-1a5 5 0 0 1 5-5v0a5 5 0 0 1 5 5v1M12 12a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM18 21h3v-3"></path>
                            </svg>
                            <img src="/avatars/default_avatar.png" alt="pfp" class="avatar">
                        </button>
                    </label>
                    <input type="submit" value="Отправить" style="display: none;">
                </form>
                <p class="username"></p>
            </div>

            <button id="find_game">Find Game!</button>
        </div>

        <button class="logout" onclick="window.location.assign('/logout')"><?xml
            version="1.0" encoding="UTF-8"?><svg
                xmlns="http://www.w3.org/2000/svg" width="128px" height="128px"
                fill="none" stroke-width="2" viewBox="0 0 24 24" color="#DFEAFF"><path
                    stroke="#DFEAFF" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 12h7m0 0-3 3m3-3-3-3M19 6V5a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1"></path></svg></button>

        <script src="/socket.io/socket.io.js"></script>

        <script src="/scripts/menu.js"></script>

    </body>

</html>