<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<div>
    <img src="resources/users/user.png" alt="pfp">
    <span class="user_name"></span>
    <div class="score">
        <span class="wins"></span>
        <span class="loses"></span>
    </div>
    <button class="sign_out" onclick="window.location.assign('/logout')">Sign out</button>
    <button class="find_game">Find game!</button>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/menu.js"></script>

</body>

</html>