<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration</title>
        <link href='https://fonts.googleapis.com/css?family=DotGothic16'
            rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=VT323'
            rel='stylesheet'>
        <link rel="stylesheet" href="/css/registration.css">
    </head>

    <body id="signup_body">
        <div class="message_error">
            Error
        </div>
        <div class="auth_container">

            <div class="wrapper">

            <p class="banner">Create an Acccount</p>
            <p class="desc">Sign up and start playing!</p>

            <form action="/signup" method="post" id="singupForm">

                <label for="username">username: </label>
                <input type="text" name="username" id="username"
                    placeholder="Please enter username" required>

                <label for="email">email: </label>
                <input type="email" name="email" id="email"
                    placeholder="Please enter email" required>

                <label for="password">password: </label>
                <input type="password" name="password" id="password"
                    placeholder="Please enter password" required minlength="4">

                <button type="submit" id="create_acc_btn">Create Account</button>
                <button type="button" id="sign_in_btn"
                    onclick="window.location.assign('/login')">Log in
                    </button>

            </form>
        </div>

        </div>

<script src="/scripts/signup.js"></script>
</body>

</html>