html, body {
    margin: 0;
    padding: 0;
}


#field_body {
    width: 100vw;
    height: 100vh;

    background-image: url("/images/auth_bg.png");
    background-size: cover;

    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#first-player, #second-player {
    position: absolute;

    width: 250px;
    height: 125px;

    background: rgba(67, 81, 101, 0.5);
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#second-player {

    top: 140px;
}

#first-player {
    bottom: 140px;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 1400px;
    height: 540px;

    background: #424E8B;
    opacity: 0.7;
    border-radius: 20px;
    z-index: -100;
}

.line {
    border-radius: 2.5px;

    width: 100%;
    height: 5px;

    background-color: #262B45;
}

.current-user {
    position: absolute;
    bottom: 0;
    /* Второй игрок снизу без отступа */
    background-color: aqua;
}



.card {
    margin-top: 275px;
    /* !!!!!! */

    position: absolute;
    width: 150px;
    height: 250px;

    background-color: #617A9F;
    border: 4px solid #435165;
    border-radius: 50px;

    transition: all 0.3s ease-in-out;

    cursor: pointer;

}

.card:hover {
    transform: translateY(-5px);

    box-shadow: rgba(105, 134, 200, 0.4) 0px 5px 5px 5px,
   
        rgba(105, 134, 200, 0.4) 0px -5px 5px 5px,
        
        rgba(105, 134, 200, 0.4) 5px 0px 5px 5px,
   

        rgba(105, 134, 200, 0.4) -5px 0px 5px 5px
        ;
}



.mana_cost {
    position: absolute;

    margin-top: -5px;
    margin-left: 115px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 50%;

    width: 50px;
    height: 50px;

    background: #2C333F;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #7B99B6;

}

.attack {
    margin-left: 105px;
    background: #C5293B;
    border: 2px solid #435165;
}

.hp {
    margin-left: -10px;
    background: #2BC27F;
    border: 2px solid #435165;
}

.attack, .hp {
    position: absolute;
    margin-top: 205px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 50%;

    width: 50px;
    height: 50px;


    font-family: 'Retro Gaming';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
}

.card img {
    padding: 0;
    position: absolute;
    width: 80px;
    height: 80px;
    justify-self: center;
    margin-top: 45px;
    margin-left: 35px;
    object-fit: cover;
    /* outline: 1px red dotted; */
}

.cardname {
    position: absolute;
    margin-top: 130px;
    margin-left: 10px;
    width: 130px;
    height: 50px;


    font-family: 'VT323';
    font-style: regular;
    font-size: 25px;

    text-align: center;

    color: #FFFFFF;



}


.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    align-self: center;
    outline: 6px solid #2C3D57;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;

    cursor: pointer;
}



.avatar.animate {
    animation: rotate-center 1s ease-in-out both;
}

.avatar:hover {
    transition: 0.5s;
    transform: translateY(-4px);
    box-shadow: -25px -10px 30px -5px rgba(11, 80, 157, 0.8),
        15px -20px 30px -5px rgba(11, 80, 157, 0.8),
        15px 20px 30px -5px rgba(48, 197, 210, 0.8),
        -15px 20px 30px -5px rgba(32, 172, 186, 0.8);
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-2 22:55:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: translateY(-4px) rotate(0);
        transform: translateY(-4px) rotate(0);
    }

    100% {
        -webkit-transform: translateY(-4px) rotate(360deg);
        transform: translateY(-4px) rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.rotate-center {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
}


@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.float-animation {

    animation: float 2s ease-in-out infinite;
}