html, body {
    margin: 0;
    padding: 0;
}

#signup_body {
    width: 100vw;
    height: 100vh;

    background-image: url("/images/auth_bg.png");
    background-size: cover;
    /* Масштабировать изображение, чтобы оно заполнило весь фон */
    background-repeat: no-repeat;
    /* Запретить повторение фонового изображения */

    display: flex;
    align-items: center;
    justify-content: center;
}

.auth_container {
    width: 1500px;
    height: 750px;

    display: flex;
    align-items: center;
    justify-content: center;


    background: #424E8B;
    opacity: 0.7;
    border-radius: 90px;

}